<div class="container">
  <div class="log-in">
    <h1>Welcome to The Shellter</h1>
    <h3>A collaborative, browser-based terminal in the cloud.<br>Join the <a href="https://jborichevskiy.typeform.com/to/fcrK31p6">waitlist</a>.</h3>
    <p>Log in with
      <%= link(
        "Github",
        to: Routes.auth_path(@socket, :request, "github"),
        class: "login-button"
      ) %>
    </p>
  </div>
</div>
