<div class="log-in">
  <h1>Welcome to The Shellter</h1>
  <p>Log in with
  <%= link(
    "Github",
    to: Routes.auth_path(@socket, :request, "github"),
    class: "login-button"
  ) %>
  </p>
</div>
