/* This file is for your main application css. */
@import "./phoenix.css";
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/xterm/css/xterm.css";


body {
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: contextual;
  background-color: black;
}

.main-section {
  color: white;
}

.log-in {
  margin-top: 20%;
}

.wrapper-main {
  display: flex;
  height: 100vh;
  width: 100%;
}

.user-list {
  list-style: none;
}

.wave {
  cursor: pointer;
}

.active-user-link {
  color: #7fdbff;
  cursor: pointer;
}

.xterm-viewport {
  overflow-y: hidden !important;
}

a {
  color: #7fdbff;
}

a:hover {
  color: #7fdbff;
  text-decoration: underline;
}

.peer-list {
  flex: 1;
  height: 100%;
}


.term-container {
  flex: 6;
  height: 100%;
}

.login-button {
  box-sizing: border-box;
  display: inline-block;
  color: white;
  padding: 6px;
  border-radius: 1;
  border: 1px solid white;
  &:hover {
    background: white;
    color: black;
  }
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
